peer/fotos/
peer/output/
peer/mfotos/
tex/out/
tex/tablecard_out/
tex/attendancelist_out
tex/makeauthentication_out
tex/photolist_out
tex/tablecard_out
log
*~
peer/BUILD
subversion/BUILD
upload/
peerfotos
rubberreports/
peer/output
output/
etc/peerpassword
etc/*.credentials
etc/roles_20200112.sql
*/peer_backup*.sql.bz2
peer_backup*.sql.bz2
etc/settings.php
etc/credentials
pg_extensions/peer_password/peer_password.o
pg_extensions/peer_password/peer_password.so
**/out/
**/output/
nbproject
