<!--/* \$Id: addmilestone.html 1761 2014-05-24 13:17:31Z hom $*/ -->
<table border='1' style='empty-cells:show;border-collapse:collapse;' width='100%' summary='milestone definition form'>
  <colgroup>
    <col width='30%'/>
      <col width='70%'/>
  </colgroup>
  <thead>
    <tr style='background: rgba(255,255,255,0.4)'><th class='thl'>{$prj_id} {$afko} {$description}</th><th>Year {$year}</th></tr>
  </thead>
  <tbody>
    <tr><th class='thl'>Project</th><td>{$project_selector}</td></tr>
    <tr><th class='thl'>Project short name</th><td>{$afko}</td></tr>
    <tr><th class='thl'>Project id</th><td>{$prj_id}</td></tr>
    <tr><th class='thl'>Project description </th><td>{$description}</td></tr>
    <tr><th class='thl'>Year of execution (start year)</th><td>{$year}</td></tr>
    <tr><th class='thl'>Add a milestone</th><td>{$submit_button}</td></tr>
  </tbody>
  <thead> 
    <tr><th >Owning tutor</th><th class='theadright' style='text-align:left;'>{$owner_id}:&nbsp;{$roepnaam} {$tussenvoegsel} {$achternaam}</th></tr>
  </thead>
</table>
<input type='reset'/>
<!-- /*end template \$Id: addmilestone.html 1761 2014-05-24 13:17:31Z hom $*/ -->
