<!-- The default button set for the simple table editor -->
<!-- $id$ -->
<fieldset class="nav"><legend>Choose operation</legend>
  <table class="nav" width="15%">
    <tr><td><?=$button_Search?></td></tr>
    <tr><td style='font-size:80%'>Match&nbsp;<input type='radio' name='where_join' value='All' checked/>&nbsp;All&nbsp;</td></tr>
    <tr><td style='font-size:80%'>Match&nbsp;<input type='radio' name='where_join' value='Any'/>&nbsp;Any&nbsp;</td></tr>
    <tr><td><?=$button_Clear?></td></tr>
    <tr><td><?=$button_Reset?></td></tr>
  </table>
</fieldset>
