<!-- The default button set for the simple table editor -->
<!-- $id$ -->
<fieldset class="button nav"><legend class="button nav">do Action</legend>
    <table class="button nav" width="15%">
        <tr><td><?=$button_Search?></td></tr>
        <tr><td style='font-size:80%'>Match&nbsp;<input type='radio' name='where_join' value='All' checked/>&nbsp;All&nbsp;</td></tr>
        <tr><td style='font-size:80%'>Match&nbsp;<input type='radio' name='where_join' value='Any'/>&nbsp;Any&nbsp;</td></tr>
        <tr><td><?=$button_Insert?></td></tr>
        <tr><td><?=$button_Update?></td></tr>
        <tr><td><?=$button_Clear?></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><?=$button_Delete?></td></tr>
        <tr><td><?=$button_Reset?></td></tr>
    </table>
</fieldset>
