<!--'\$Id: defclasses.html 1723 2014-01-03 08:34:59Z hom $'-->
<fieldset><legend>Known classes</legend>
<h2>Defined classes:</h2>
<form id='classdef' method='post' action='$PHP_SELF'>
<button type='submit' name='setclassdef' value='setclassdef'>Submit</button>
<button type='reset' name='reset'>Reset</button>
$classes_table
<button type='submit' name='setclassdef' value='setclassdef'>Submit</button>
<button type='reset' name='reset'>Reset</button>
</form>
</fieldset>
<!-- end '\$Id: defclasses.html 1723 2014-01-03 08:34:59Z hom $'-->
