
<form method='post' name='project' action='<?= $PHP_SELF; ?>'>
    <?= $prjList ?><span style='font-size:8pt;'>Project_id <?= $prj_id ?> group <?= $grp_num ?> milestone <?= $milestone ?></span>
</form>

<fieldset><legend>Select recipients and type you mail</legend>
    <p><strong>Note that a copy of that mail is also sent to the tutor.</strong></p>
    <form name='mailer' method='post' action='<?= $PHP_SELF ?>'>
        <?=$rtable; ?>
        <table>
            <tr>
                <th valign='top'>
                    subject:
                </th>
                <td valign='top'>
                    <input type='text' name='formsubject' size='60' value='<?= $formsubject ?>'/>
                </td>
            </tr>
            <tr><th valign='top'>Body text:</th>
                <td valign='top'>
                    <textarea name='mailbody' cols='120' rows='20'><?= $mailbody ?></textarea></td></tr>
            <tr>
                <td><input type='hidden' name='prj_id_milestone' value='<?= $prj_id . ':' . $milestone ?>'/>
                    <input type='submit' name='bsubmit' value='Submit'/></td>
            </tr>
        </table>
    </form>
    <p>Note that you can change the default signature in 'personal data and settings &gt; email signature'</p>

</fieldset>