<div style='width:35%; float:left'>
    <fieldset><legend>Upload group file</legend>
        <form action='{$action}' method='get'>
            {$prjList}
            <input type='submit' value='Get project'/><b>{$prj_id}M{$milestone}({$prjm_id}</b>
        </form>
        <form enctype='multipart/form-data' action='{$action}' method='post'>
            <input id='userfile' name='userfile' type='file' size='120' style='width: 330px; border: 2px solid red;'
                   accept='.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'/>
            <input type='hidden' name='prjm_id' value='{$prjm_id}'/>
            <input type='submit' name='submit' value='Submit' id='submit'/>
        </form>
    </fieldset>
    {$uploadResult}
</div>
<div style='width:65%;float:right'><h1>Import groups</h1> 
    This page allows you to upload predefined student group memberships into peerweb.
    You can use it to put students in already defined groups.
    To use this page, some preparation on your side is in order.
    <ul>
        <li>Make sure you have (as in: are owner) a project and</li>
        <li>You have the <a href='https://peerweb.fontysvenlo.org/defgroupsize.php' target='popup'>defined groups</a> that you want to use already defined in the milestone you want to use for the new student groups</li>
        <li>Make sure all students are available (present) in peerweb.</li>
    </ul>
    Furthermore, you need to prepare the student to group information in a specific way:
    <img src='images/excel_for_groupimport.png' alt='excel fomat' style='float:right;'/>
    <ul>
        <li>It is a xlsx (excel >= 2007) file. </li>
        <li>The file should contain one worksheet called 'Worksheet'. 
            any other worksheets will be ignored. See the example in the screen shot on the right.</li>
        <li>The first row should contain the column names of the data to import.</li>
        <li>of these column names ony <b>snummer</b>and <b>grp_num</b> will be used. All other column names will be ignored.</li>
        <li>From row 2, the first column you should contain the student number, digits only, typically 7 of them.</li>
        <li>The second column should contain the intended group number typically starting at 1 and ending at the number of groups defined for the peerweb  project this import is for. Digits only.</li>
        <li>The name of the file is irrelevant. It will be removed from the server after use.</li>
    </ul>
    When all preparations are in order, select the target project+milestone in the form on the left, select the file to upload in the upload widget and press upload.
</div>
