<b>Dear $name</b>,
<p>You are kindly invited to fill in your assessment form for
    project <strong>$afko</strong>, milestone <strong>$milestone, named $milestone_name</strong>
  at <a href='https://peerweb.fontysvenlo.org/'>peerweb</a> (https://peerweb.fontysvenlo.org/),
the other group members and your tutor are waiting for your input. The assessment is due $due.</p>
<p>Failing to fill in your form in due time allows the tutor to fill in the form for you. 
He will then take the default action of giving all fellow team members the maximum grade on all criteria,
which results in a very low grade for the non complying member, <strong>you</strong>, <em>$name</em> for instance.</p>
<p>If you do not have your authentication data (any more),
you can request a new authentication form on the peerweb web site
See:<br/> <a href='https://peerweb.fontysvenlo.org/'
	title='peerweb'>peerweb</a> (https://peerweb.fontysvenlo.org/)</p>

