Hallo $name,

<p>Sie haben angegeben, dass Sie gerne an einem Schnuppertag an der Fachhochschule in Venlo, 
    im Studiengang Software Engineering oder Wirtschaftsinformatik teilnehmen möchten.</p>

<p>Eine gute Entscheidung. Ein Schnuppertag ist nämlich die beste Möglichkeit, 
    einen echten Einblick in das Studium zu bekommen. Sie sehen wie die Projekte, 
    Vorlesungen und Übungen ablaufen und haben die Möglichkeit mit Studenten 
    zu sprechen, die vor nicht allzu langer Zeit in derselben Situation waren wie Sie jetzt. 
    Die Studenten können Sie am besten und am ehrlichsten über den Studiengang informieren.</br>
    Außerdem schlüpfen Sie selbst für einen Tag in die Rolle eines Studenten des Studiengangs 
    und können so später gut abschätzen, ob das Studium für Sie das richtige ist. 
    An dem Tag laden wir Sie gerne zu einem kostenlosen Mittagessen in unserer Cafeteria ein.</p> 

<p>Der nächste Schnuppertag findet statt am <b>Montag, 5. März 2012, 11:00 - 16:00 Uhr.</b></p>

<p>Bei Bedarf stellen wir Ihnen gerne eine Teilnahmebescheinigung aus, die Sie bei 
    Ihrer jetzigen Schule einreichen können, um für den Tag beurlaubt zu werden.</p>

<p>Falls Sie Interesse haben, antworten Sie einfach bis zum 1. März formlos auf diese Mail.</p>

<p>Achtung: Anders als bei früheren Schnuppertagen ist diesmal eine verbindliche 
    Anmeldung erforderlich. Der Zulauf war bei den vergangenen Malen so groß, dass 
    wir die Anzahl Teilnehmer diesmal auf 15 Personen beschränken müssen. 
    Weitere Termine für Schnuppertage folgen in den kommenden Wochen.</p>

<p>Alternativ können Sie jederzeit alleine oder in Gruppen bis 5 Personen zu einem individuellen Schnuppertag erscheinen. Sie können den Termin dann
    selbst auswählen. Hierzu melden Sie sich einfach 2 Tage vor dem gewählten Termin bei mir an.</p>

Weitere Informationen finden Sie auf den folgenden Webseiten:<br/>

<code>http://www.fontysvenlo.nl/pages/de/studienangebot/bachelor/software-engineering.php</code>
und<br/>
<code>http://www.fontys.nl</code><br/>

<p>Sollten Sie Fragen haben, dann antworten Sie einfach auf diese Mail.</p>


Viele Grüße aus den Niederlanden,</br>
Pieter van den Hombergh
<hr/>
Pieter van den Hombergh, Docent Informatica<br/>
Fontys Hogeschool voor Techniek en Logistiek<br/>
Tel:    +31(877)870 521<br/>
http://www.fontys.nl<br/>
<hr/>
<div style='background:#ffc; border:1px green;'>
    <b>Wichtige Hinweise:<br/>
        Das Informatik-Studium in Venlo als zweitbestes Studium der
        Niederlande für 2012 empfohlen (http://www.keuzegids.org)<br/>
        Fontys Venlo bietet bestes Informatik Studium 2011 (http://www.elsevier.nl)</b>
</div>