<fieldset><legend>Menu option queries</legend>
    <table>
        <tr>
            <td>        id    </td>
            <td>        <?=$veld_id?>    </td>
        </tr>

        <tr>
            <td>        Menu name    </td>
            <td>        <?=$veld_menu_name?>    </td>
        </tr>
        <tr>
            <td>        Column name    </td>
            <td>        <?=$veld_column_name?>    </td>
        </tr>
        <tr>
            <td>        Query    </td>
            <td>        <?=$veld_query?>    </td>
        </tr>
    </table>
</fieldset>
