<table >
    <tr>
        <td colspan='1'>Snummer&nbsp;<?php if (hasCap(CAP_SYSTEM)) {?><a href='editcapabilities.php?newsnummer=<?=$raw_snummer?>' target='_blank'>capabilities</a><?php } ?></td>
        <td colspan='1'>Pcn</td>
        <td colspan='1'>Cohort</td>
        <td colspan='2'>SLB</td>
    </tr>
    <tr>
        <td colspan='1'><?=$veld_snummer?> </td>
        <td colspan='1'><?=$veld_pcn?></td>
        <td colspan='1'><?=$veld_cohort?></td>
        <td colspan='2'><?=$veld_slb?></td>
    </tr>

    <tr>
        <td colspan='1'>Achternaam</td>
        <td colspan='1'>Roepnaam</td>
        <td colspan='1'>Tussenvoegsel</td>
        <td colspan='1'>Voornaam</td>
        <td colspan='1'>Voorletters</td>
    </tr>
    <tr>
        <td colspan='1'><?=$veld_achternaam?></td>
        <td colspan='1'><?=$veld_roepnaam?></td>
        <td colspan='1'><?=$veld_tussenvoegsel?></td>
        <td colspan='1'><?=$veld_voornamen?></td>
        <td colspan='1'><?=$veld_voorletters?></td>
    </tr>
    <tr>
        <td colspan='1'>Gebdat</td>
        <td colspan='2'>Geb Plaats</td>
        <td colspan='1'>Sex</td>
        <td colspan='1'>Lang</td>
    </tr>
    <tr>
        <td colspan='1'><?=$veld_gebdat?></td>
        <td colspan='2'><?=$veld_geboorteplaats?></td>
        <td colspan='1'><?=$veld_sex?></td>

        <td colspan='1'><?=$veld_lang?></td>
    </tr>
</table>
<table border='0' style='border-collapse: collapse' width='100%'>
    <tr><td>
            <table border='0'>
                <tr>
                    <td colspan='1'>Geb Land</td>
                    <td colspan='3'><?=$veld_geboorteland?></td>
                </tr>
                <tr>
                    <td colspan='1'>Nationaliteit </td>
                    <td colspan='3'><?=$veld_nationaliteit?></td>
                </tr>
                <tr>
                    <td colspan='1'>Email 1 </td>
                    <td colspan='3'><?=$veld_email1?></td>

                </tr>
                <tr>
                    <td colspan='1'>Email 2 </td>
                    <td colspan='3'><?=$veld_email2?></td>
                </tr>
                <tr>    
                    <td colspan='1'>Opleiding</td>
                    <td colspan='3'><?=$veld_opl?></td>
                </tr>
                <tr>    
                    <td colspan='1'>Studieplan</td>
                    <td colspan='3'><?=$veld_studieplan?></td>
                </tr>
                <tr>
                    <td colspan='1'>Faculteit</td>
                    <td colspan='3'><?=$veld_faculty_id?></td>
                </tr>
                <tr>
                    <td colspan='1'>Hoofdgroep</td>
                    <td colspan='1'><?=$veld_hoofdgrp?></td>
                    <td><?=$veld_active?></td>
                    <td><?php if (hasCap(CAP_TUTOR) && isSet($raw_snummer)) {?>
                        <a href='portfolio.php?snummer=<?=$raw_snummer?>'
                           target='mainframe'>
                            <img src='images/folder_green.png' border='0' style='vertical-align:middle'/>
                            <span style='font-weight:bold;font-size:120%;color:#330033;'>
                                Student&nbsp;portfolio</span></a>
                        <?php } else { ?>&nbsp;<?php }?>
                    </td>
                </tr>
                <tr>
                    <td colspan='1'>Student klas</td>
                    <td colspan='2'><?=$veld_class_id?>&nbsp;<a href='classlist.php?class_id=<?=$raw_class_id?>'
                    target='_blank'>others in class</a></td>
                    <td><?php if (hasCap(CAP_TUTOR) && isSet($raw_snummer)) {?>
                        <a href='https://progresswww.nl/fontys/resultaten/overzichten.asp?navi=37&nummer=<?=$raw_snummer?>'
                           target='_blank'><img src='images/progress-icon.png' border='0' style='vertical-align:middle'/>&nbsp;Progress data</a>
                        <?php } else { ?>&nbsp;<?php }?>
                    </td>

                </tr>
            </table>
        </td>
        <td rowspan='1' align='center' valign='middle' ><?=$veld_image?></td>

    </tr>
</table>
            <table border='0'>
    <tr>
        <td colspan='2'>Straat</td>
        <td colspan='2'>Huisnr</td>
        <td colspan='2'>Pcode</td>
    </tr>
    <tr>
        <td colspan='2'><?=$veld_straat?></td>
        <td colspan='2'><?=$veld_huisnr?></td>
        <td colspan='2'><?=$veld_pcode?></td>
    </tr>
    <tr>
        <td colspan='2'>Plaats</td>
        <td colspan='5'><?=$veld_plaats?></td>
    </tr>
    <tr>
        <td colspan='2'>Phone home</td>
        <td colspan='2'>Phone gsm</td>
        <td colspan='2'>Phone postaddress</td>
    </tr>

    <tr>
        <td colspan='2'><?=$veld_phone_home?></td>
        <td colspan='2'><?=$veld_phone_gsm?></td>
        <td colspan='2'><?=$veld_phone_postaddress?></td>
    </tr>
</table>
<!-- autogenerated by genform.php on 2006-09-30 22:32  -->
