<div id="content">
    <h1 class='normal'>You are not entitled to read the file. (doc_id=<?=$doc_id?>) <button onClick='javascript:bye()'>Close</button></h1> 
    because either:
    <ul>
        <li>You are not the one that uploaded it <i>or</i></li>
        <li>You are not tutor <i>or</i></li>
        <li>You are not member of the project group that this document belongs to <i>or</i></li>
        <li>You are participating in the project in a different and the documents due date has not yet expired,</li>
        <li>The tutor selected to prevent group visibility before the due date</li>
    </ul>
</div>
