<div class='navopening'>
    <a href='index.php'><img src='<?= IMAGEROOT ?>/home.png' alt='home'/></a>
    <h1><?= $page_opening ?><button onClick='javascript:bye()'>Close</button></h1>
</div>
<div class='navmain' style='padding:0 3em 0 3em;' >
    <h2 align='center'><a href='<?= $refreshUrl ?>'>refresh</a></h2>
    <p>This page presents a link to a specific document: <a href='<?= $downloadUrl ?>' target='_blank'><?= $title ?></a>, so you can get to that document.
        It also allows you to give feedback (or critisize) that document</p>
    <p>Note that the critique cannot be made anonymous, as your data and time of critique are stored in the database.
        Also note that the critiques themselves may be imperative and graded by your tutor(s).</p>

    <h2 class='normal'>Data of document "<a href='<?= $downloadUrl ?>' target='_blank'><?= $title ?></a>" to critisize</h2>
    <?= $formstart ?>
    <table class='layout' summary='document data'>
        <tr><td>Document title</td><th align='left'><?= $titleinput ?></th></tr>
        <tr><td>Filename</td><th align='left'><?= $filename ?></th></tr>
        <tr><td>File size</td><th align='left'><?= $file_size ?> bytes</th></tr>
        <tr><td>Upload date</td><th align='left'><?= $uploadts ?> (Due <?= $due ?>)</th></tr>
        <tr><td>Document id</td><th align='left'><?= $doc_id ?></th></tr>
        <tr><td>Document type</td><th align='left'><?= $doc_type_sel ?></th></tr>
        <tr><td>Mime type</td><th align='left'><?= $mime_type_sel ?></th></tr>
        <tr><td>Document version</td><th align='left'><?= $vers ?></th></tr>
        <tr><td>Uploader</td><th align='left'><?= $roepnaam ?> <?= $tussenvoegsel ?> <?= $achternaam ?> (<?= $author ?>)</th></tr>
        <tr><td>Author(s)</td><th align='left'><?= $coauthors ?> currently in group <?=$sgrp_name?></th></tr>
        <tr><td>Project data</td><th align='left'> <?= $afko ?> <?= $year ?>: <?= $project_description ?> prj_id <?= $prj_id ?> milestone <?= $milestone ?></th></tr>
        <tr><td>Document Group</td><th align='left'><?= $grp_num ?> (prjtg_id=<?= $prjtg_id ?>) <?= $grp_name ?></th></tr>
        <tr><td>New doc Group</td><td><?=$grp_sel?></td></tr>
        <tr><td>Read access</td><th align='left'><?= $groupRights ?>,&nbsp;<?= $projectRights ?></th></tr>
        <?= $docbutton ?>
    </table>
    <?= $formend ?>
    <?php
    ?>
    <div class='critique' style='background:rgba(255,255,224,0.6)'>
        <div class='navopening'>
            <form name='add_critique' action='javascript:invoke_editor(-1,<?= $doc_id ?>,"new")'>
                Critiques &nbsp;<button type='submit' name='critique_new' value='new' >Add Critique</button>
                <input type='hidden' name='critique_id' value='-1'/>
            </form>
        </div>
        <p>Newest critiques can be presented in newest <?= $refreshLink ?> order.</p>
        <?= $critiqueList ?>
    </div>
    <h3>How to enter critique</h3>
    <p>If the author was smart he added page and even linenumbers to the document, so you can use those as coordinates to 
        those spots in the documents you want to critisize.</p>
    <p>You may use html constructs (like lists with &lt;ol&gt; etc), which can be usefull to get your point across. 
        You can even link to external documents with an ordinary &lt;a href=...&gt; construct.</p>
</div>
