<!--'\$Id: defclasses2.html 1723 2014-01-03 08:34:59Z hom $'-->
<fieldset><legend>Known classes</legend>
  <h2>Add class:</h2>
  <form id='classadd' method='post' action='$PHP_SELF'>
  <table>
    <tr>
      <th>class</th>
      <th>sort1</th>
      <th>sort2</th>
      <th>opl_afko</th>
      <th>faculty</th>
    </tr>
    <tr>
      <td><input type='text' name='sclass' value='$sclass' size='6'/></td>
      <td><input type='text' name='sort1' value='$sort1' size='2'/></td>
      <td><input type='text' name='sort2' value='$sort2' size='2'/></td>
      <td>$opl_selector</td>
      <td>$faculty_selector</td>
    </tr>
  </table>
  <button type='submit' name='addclass' value='setclassdef'>Submit</button>
  <button type='reset' name='reset'>Reset</button>
</form>
</fieldset>
<!-- end '\$Id: defclasses2.html 1723 2014-01-03 08:34:59Z hom $'-->
