<fieldset>
    <legend>Project group details</legend>
    <table summary="project group details">
        <tr>
            <td class='legend'>Prj id</td>
            <td class='legend'>Afko</td>
            <td class='legend'>Description</td>
            <td class='legend'>Year</td>
        </tr>

        <tr>
            <td class='detail'><?=$veld_prj_id?></td>
            <td class='detail'><?=$veld_afko?></td>
            <td class='detail'><?=$veld_description?></td>
            <td class='detail'><?=$veld_year?></td>
        </tr>
        <tr>
            <td colspan='4' class='legend'>Comment</td>
        </tr>
        <tr>
            <td colspan='4' class='detail'><?=$veld_comment?></td>
        </tr>
        <tr>
            <td class='legend'>Course</td>
            <td class='legend'>Faculty id</td>
            <td class='legend'>Faculty short</td>
            <td class='legend'>Valid until</td>
        </tr>

        <tr>
            <td class='detail'><?=$veld_course?></td>
            <td class='detail'><?=$veld_faculty_id?></td>
            <td class='detail'><?=$veld_faculty_short?></td>
            <td class='detail'><?=$veld_valid_until?></td>
        </tr>

        <tr>
            <td class='legend'>Owner id</td>
            <td class='legend'>Owner</td>
        </tr>
        <tr>
            <td class='detail'><?=$veld_owner_id?></td>
            <td class='detail'><?=$veld_owner?></td>
        </tr>

        <tr>
            <td class='legend' colspan='4'>Prjtg id</td>
        </tr>
        <tr>
            <td class='detail' colspan='4'><?=$veld_prjtg_id?> (<?=$raw_prjtg_id?>)</td>
        </tr>    

        <tr>
            <td class='legend' >Milestone</td>
            <td class='legend'>Milestone name</td>
            <td class='legend'>Project milestone open</td>
            <td class='legend'>Assessment due</td>
        </tr>

        <tr>
            <td class='detail'><?=$veld_milestone?></td>
            <td class='detail'><?=$supp_milestone_name?></td>
            <td class='detail'><?=$supp_prj_milestone_open?></td>
            <td class='detail'><?=$veld_assessment_due?></td>
        </tr>

        <tr>
        </tr>


        <tr>
            <td class='legend'>Grp num</td>
            <td class='legend'>Tutor id</td>
            <td class='legend'>Tutor</td>
            <td class='legend'>Tutor grade</td>
        </tr>

        <tr>
            <td class='detail'><?=$veld_grp_num?></td>
            <td class='detail'><?=$veld_tutor_id?></td>
            <td class='detail'><?=$veld_tutor?></td>
            <td class='detail'><?=$veld_tutor_grade?></td>
        </tr>

        <tr>
            <td class='legend'>Grp name</td>
            <td class='legend'>Alias</td>
            <td class='legend' colspan='3'>Long name</td>
        </tr>

        <tr>
            <td class='detail'><?=$veld_grp_name?></td>
            <td class='detail'><?=$veld_alias?></td>
            <td class='detail' colspan='3'><?=$veld_long_name?></td>
        </tr>
        <tr>
            <td class='legend'>Productname</td>
            <td class='detail' colspan='3'><?=$veld_productname?></td>
        </tr>

        <tr>
            <td class='legend'>Website</td>
            <td class='detail' colspan='3'><?=$veld_website?></td>
        </tr>
        <tr><th colspan='4' class='detail'>view <a href='<?=$raw_website?>' target='_blank' title='view website in new page'>website</a></th></tr>

        <tr>
            <td class='legend'>Youtube link</td>
            <td class='detail' colspan='3'><?=$veld_youtube_link?></td>
        </tr>
        <tr><th colspan='4' class='detail' style='background:white;'><?=youtubelink($raw_youtube_link,$raw_yt_id)?></th></tr>

    </table></fieldset>
<!-- autogenerated by genform.php on 2013-05-10 14:00  -->