<fieldset><legend>Fontys courses</legend>
  <table>
    <tr>
      <td>        Course    </td>
      <td>        <?=$veld_course?>    </td>
    </tr>
    <tr>
      <td>        Course description   </td>
      <td>        <?=$veld_course_description?>    </td>
    </tr>
    <tr>
      <td>        faculty   </td>
      <td>        <?=$veld_faculty_id?>    </td>
    </tr>
    <tr>
      <td>Course abbreviation</td>
      <td><?=$veld_course_short?></td>
    </tr>
  </table>
</fieldset>
<!-- $Id: known_courses2.html 1723 2014-01-03 08:34:59Z hom $ -->

