Hallo $name,

<p>Je hebt aangegeven aan een meeloopdag voor de opleiding Software Engineering of Bedrijfskundige Informatica te willen deelnemen</p> 
<p>Een strak plan. Een meeloopdag is immers de beste manier om een echte kijk op de studie te krijgen.
    Je ziet projecten, lessen  en practica en hebt de kans met studenten te praten, die kort geleden voor dezelfde beslissing stonden als jij nu.
    Deze studenten kunnen je het beste en eerlijkst informeren over de studie.<br/>
    Daarbij kruip je zelf voor een dag in de rol van een student in deze studierichting zodat je later goed kunt inschatten
    of deze studie voor jou de juiste is. Op de meeloopdag wordt je ook uitgenodigd voor een gratis lunch in onze kantine.</p> 

<p>De volgende meeloopdag is gepland op <b>Maandag, 5 Maart 2012, 11:00h - 16:00h.</b></p>

<p>Mocht je een deelnamebewijs nodig hebben voor je huidige school dan krijgt je dat aan het einde van de meeloopdag, 
    zodat je een geldige verzuimreden kunt aantonen.</p>

<p>Mocht je interesse hebben, antwoordt dan eenvoudigweg op deze mail met 'ja ik kom', uiterlijk 1 Maart a.s.</p>

<p>Let op: Anders als bij eerdere meeloopdagen moet je je ditmaal aanmelden.<br/> 
    De toeloop was bij vorige meeloopdagen dermate groot, dat we het aantal deelnemers deze keer moeten beperken tot 15 deelnemers. Verdere meeloopdagen worden in 
    de komende weken gepland.</p>

<p>Als alternatief kun je altijd met een groepje van ten hoogste 5 personen zelf je meeloopdag plannen. 
    Je meldt je dan uiterlijk twee werkdagen voor de geplande datum bij mij aan en ik zal dan de ontvangst organiseren.</p>

Meer informatie vind je op de volgende websites:<br/>

<code>http://www.fontysvenlo.nl/pages/nl/opleidingen/bachelor/software-engineering.php</code>,<br/>
<code>http://www.fontysvenlo.nl/pages/nl/opleidingen/bachelor/business-informatics.php</code>
en<br/>
<code>http://www.fontys.nl</code><br/>

<p>Mocht je nog vragen hebben, dan kun je je vraag stellen in een reply op deze email.</p>


De groeten uit Venlo,</br>
Pieter van den Hombergh
<hr/>
Pieter van den Hombergh, Docent Informatica<br/>
Fontys Hogeschool voor Techniek en Logistiek<br/>
Tel:    +31(877)870 521<br/>
http://www.fontys.nl<br/>
<hr/>
<div style='background:#ffc; border:1px green;'>
    <b>Belangrijke Tip:<br/>
        De Informatica-Opleiding in Venlo op de tweede plaats voor 2012 volgens de keuzegids 2012( http://www.keuzegids.org)<br/>
        Volgens Elsevier biedt Fontys in Venlo de beste informaticaopleiding in 2011 (http://www.elsevier.nl)</b>
</div>