<fieldset><legend>Menu item</legend>
    <table>
        <tr>
            <td>        id    </td>
            <td>        <?=$veld_id?>    </td>
        </tr>

        <tr>
            <td>Menu name</td>
            <td><?=$veld_menu_name?></td>
        </tr>
        <tr>
            <td>Column name</td>
            <td><?=$veld_column_name?></td>
        </tr>
        <tr>
            <td colspan='2'><p>For optionSelect and sequences make sure to enter the correct<br/>
                    expression on the menu_option_queries page</p>
            </td>
        </tr>
        <tr>
            <td>Edit type</td>
            <td><?=$veld_edit_type?></td>
        </tr>
        <tr>
            <td>Item Length</td>
            <td><?=$veld_item_length?></td>
        </tr>
        <tr>
            <td>Regex name</td>
            <td><?=$veld_regex_name?></td>
        </tr>
        <tr>
            <td>Place holder</td>
            <td><?=$veld_placeholder?></td>
        </tr>
        <tr>
            <td>Capability</td>
            <td><?=$veld_capability?></td>
        </tr>
    </table>
</fieldset>
<!-- $Id: menu_item.html 1723 2014-01-03 08:34:59Z hom $ -->

