<fieldset><legend>Menu</legend><table>
        <tr>    
            <td>        id    </td>    
            <td>        <?=$veld_id?>    </td>
        </tr>
        <tr>    
            <td>        Menu name    </td>    
            <td>        <?=$veld_menu_name?>    </td>
        </tr>
        <tr>    
            <td>        Relation name    </td>    
            <td>        <?=$veld_relation_name?>    </td>
        </tr>
        <tr>    
            <td>        Menu top    </td>    
            <td>        <?=$veld_menu_top?>    </td>
        </tr>
        <tr>    
            <td>        Menu left    </td>    
            <td>        <?=$veld_menu_left?>    </td>
        </tr>
        <tr>    
            <td>        Capability    </td>    
            <td>        <?=$veld_capability?>    </td>
        </tr>
    </table></fieldset>
