<link type="text/css" href="css/pepper-grinder/jquery-ui-1.8.17.custom.css" rel="stylesheet" />	
<script type="text/javascript">
    var dpoptions= {
            showOnFocus: false, 
            showTrigger: '#calImg',
            dateFormat: 'yy-mm-dd',            
            showOn: 'both',
            buttonImage: 'images/calendar.gif',
            showButtonPanel: true,
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            showWeek: true,
            firstDay: 1,
    };
</script>
