<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div>
    <h3>Print class cards based on current student assignment</h3>
    <p>Class cards are use to let students choose to which class they would like to be assigned.
        The pdf file produced should be printed, cut in 10s and distributed to the students, so they may put their card in a card holder assigned to the new  class or group they belong.</p>
</div>